* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  font-size: 20px;
  margin: 0 auto;
  background-color: #303030;
  color: white;
  max-width: 1440px;
}
.circle-in-header {
  height: 2.5rem;
  width: 2.5rem;
  z-index: 0;
  position: relative;
  background-color: #555;
  display: inline-block;
  border-radius: 50%;
  transform: translate(1.5rem, 50%);
}
.relative {
  position: relative;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin: 0 1rem;
  background-color: #222;
}
container > div {
  flex: 1;
}
header.first-half {
  z-index: -2;
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
}
header.first-half h2 {
  text-align: left;
  justify-self: left;
  z-index: 2;
  display: inline-block;
  font-weight: 500;
}
header.first-half > div {
  flex: 1;
  display: flex;
  padding: 1rem 0.1rem;
}
.header-right-parent {
  display: flex;
  flex: 2;
  align-items: center;
}
.header-right:nth-of-type(3) {
  padding-right: 0;
  min-width: 10ch;
}
.header-right {
  padding: 0 1rem;
  color: #888;
  font-weight: 500;
  font-size: 1rem;
}
section > h1 {
  padding: 1rem 2.5rem 0.5rem 2.5rem;
  font-weight: bolder;
  font-size: 3rem;
}

.text-special {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: orange;
  text-decoration-thickness: 8px;
}
section p {
  color: #666;
  padding: 0.5rem 0.5rem;
}
.option-buttons {
  padding: 2.5rem;
  display: flex;
  text-align: center;
}
div.start-now {
  width: 150px;
  border-radius: 5px;
  padding: 1rem;
  background-color: orange;
  color: #fefefe;
}
div.how-works {
  width: 150px;
  margin-left: 2rem;
  align-self: center;
  color: #aaa;
}
.avatar {
  display: inline-block;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.avatar:nth-of-type(1) {
  background-color: yellow;
  left: 2.5rem;
}
.avatar:nth-of-type(2) {
  background-color: orange;
  left: 1.25rem;
}
.avatar:nth-of-type(3) {
  background-color: brown;
}
.avatar-parent {
  display: flex;
  margin: 0 auto;
  justify-content: left;
  margin-top: 10rem;
  margin-bottom: 1rem;
}
.avatar-text {
  display: inline-block;
  align-self: center;
  padding-left: 2rem;
}
.avatar-text-special {
  font-size: larger;
  font-weight: bold;
}
.avatar-text-normal {
  color: #ccc;
}
.left-pad {
  grid-row: 1/3;
}
.people {
  /* padding-bottom: 3rem; */
}
.second-half {
  grid-row: 1/3;
  position: relative;
  opacity: 0.5;
  background-color: rgba(200, 200, 200, 0.1);
}
img {
  width: 100%;
  height: 100%;
}

.options-button {
  position: absolute;
  right: 10%;
  top: 5%;
  padding: 15px 20px;
  background-color: white;
  color: #000;
  font-size: small;
  border-radius: 5px;
  letter-spacing: 1.25px;
  box-shadow: 0 0 20px #eee;
  cursor: pointer;
  z-index: 10;
}

.description {
  max-width: min(350px, 65ch);
  margin-left: 2rem;
}
@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    body {
        font-size: 10px;
    }
    .relative{
        display: flex;
        justify-content: center;
    }
    .relative h2{
        font-size: 5rem;
    }
    .avatar-parent {
        justify-content: center;
        margin-top: 1rem;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .circle-in-header{
        width: 5rem;
        height: 5rem;
        transform: translate(50%,90%);
    }
    .first-half {
        display: flex;
        flex-direction: column;
    }
    .header-right-parent {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    header.first-half h2 {
        justify-content: center;
        text-align: center;
    }

    .header-right {
        padding: 0.25rem 0;
    }
    section p {
        padding-left: 0.25rem;
    }
    section h1 {
        margin-top: 1rem;
        padding: 0.25rem 1rem;
    }

    .header-right:nth-of-type(3) {
        min-width: 8ch;
    }

    .option-buttons {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .avatar:nth-of-type(1) {
        background-color: yellow;
        left: 0;
    }
    .avatar:nth-of-type(2) {
        background-color: orange;
        left: -1rem;
    }
    .avatar:nth-of-type(3) {
        background-color: brown;
        left: -2.1rem;
    }
    .avatar-text {
        padding-left: 0rem;
    }
}
